*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
html {
    cursor:crosshair;
    scroll-behavior: smooth;
}
  
html, body {
    margin: 0;
    padding: 0;
} 

.navbar{
    display: flex;
    background-color: rgb(74, 43, 160);
    padding: 0px 10px;
    padding-left: 49%;
    height: 50px;
    
  }
  .nav-list{
    display: flex;
    flex-direction: row;
    
  
  }
  .nav-list img{
      height: 50px;
      width: 70px;
      position: fixed;
      left: 0;
  }
  
  .nav-list li{
    list-style: none;
    padding-top: 10px;
    margin-left: -6px;

    
  }
  .nav-list li a{
    padding: 10px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin: 17px;
    color: whitesmoke;
    font-size: 1 rem;
    font-family: 'Caveat', cursive;
    
  }
  .nav-list li a:hover{
    color: rgb(211, 57, 95);
    transition: 0.5s; 
  
  }
 .navbtn{
    height: 40px;
    width: 120px;
    padding-top: 10px\; margin-top: 10;
    margin-top: 5px;
    border: 1px black;
    border-radius: 20px;
    background-color: rgb(63, 54, 83);
    color: white;
    font-family: 'Caveat', cursive;

 }
 .navbtn:hover{
    background-color: rgb(42, 24, 56);
    transition: 0.4s;
    cursor: pointer;

 }
 #queue{
  height: 35px;
  width: 120px;
  margin-top: 5px;
  margin-right: 5px;
 }
  #home{
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    justify-content: center;
    align-items: left;
    background-image: url("/img/bgearth1.jpg");
    /*background-size: round auto; *//* Height: auto is to keep aspect ratio */
    background-size:contain;
    background-position:center;
    background-repeat: repeat;
    background-color: black;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.homeimg{
    height: 200px;
    width: 200px;
    margin-left: 75px;
    padding: 10px;
}
.header {
    font-family: 'Zilla Slab', serif;
      font-size: 6rem;
      /*font-weight:  100;*/
      letter-spacing: 1px;
      text-align: center;
      color: #67c8ee;
      background-image: -webkit-linear-gradient(92deg, #9178b8, #c54848);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 4s infinite linear;
    text-align: left;
    margin: 0px;
    padding: 0px;
  
  }
  
  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

  #about{
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 140vh;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    padding: 3px 200px;
    color: white;
    text-decoration: none;
}
#about h2{
  margin: 80px;
  font-size: 2.5rem;
  margin-top: 200px;
  font-family: 'Zilla Slab', serif;
  text-align: center;
}
#about p{
    margin: 0px;
    padding: 35px;
    margin-top: 60px;
    color: white;
    text-align: center;
}
#about img{

    height: 135px;
    width: 190px;
    align-content: center;
    margin: auto;
    margin-left: 43%;
}
a{
  text-decoration: none!important;
  color: white;
  font-family: 'Caveat', cursive;
}

.resume{
  background-image: -webkit-linear-gradient(87deg, #000000, #030504);
  border: 1px solid rgb(0, 0, 0);
  display: block;
  border-radius: 4px;
  background-color: rgb(74, 43, 160);
  color: rgb(255, 255, 255);
  position: absolute;
  font-family: 'Caveat', cursive;
  width: 230px;
  height: 15px;
  text-align: center;
  align-items: center;
  margin: 0px;
  padding: 20px;
  /*padding-left: 400px;*/
  background-size: 100% auto;
  font-size: 20px;
  overflow: hidden;
  -webkit-transition: width 1s;
  transition: width 1s;
  white-space: nowrap; 
  
}
.resume:hover{
  color: rgb(255, 255, 255);
  border: 2px rgb(255, 255, 255);
  background-image: -webkit-linear-gradient(92deg, #2a2d4e, #4f3ac9);
  background-color: cornflowerblue;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}
.resume h3{
  font-family: 'Caveat', cursive;
  font-size: 1.2rem;

}
#about h4{
    margin-left: 45%;
    font-family: 'Caveat', cursive;
    color: white;
    margin-top: 60px;
}

#about input{
    height: 20px;
    width: 135px;
    margin-left: 45%;
}
#prep{
    background-color: black;
    height: 130vh;
    display: block;
    
}
.evach2{
  display: block;
  text-align: center;
  

}
.evach2 h2 {
  margin-left: -65%;
  
}


#prep h2{
    color: white;
    font-family: 'Caveat', cursive;
    /*margin-left: 45%;*/
    padding: 14px;
    text-align: center;
}

.probtn {
    flex: 1 1 auto;
    /*margin-left: 45%;*/
    margin: 0px;
    padding: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: 0.5s;
    position: relative;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0)48, 247, 247);
    
   }
  
  .btn-1 {
    background-image: url("https://mk0nationalecze417sw.kinstacdn.com/wp-content/uploads/2017/10/emergency.prep_.disaster_blog.jpg");
    background-size: cover;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 300px;
    border: 3px solid rgb(0, 0, 0);

  }
  .btn-2 {
    background-image: url("https://evaemergency.com/wp-content/uploads/2020/01/evacuation-assembly-area.jpg");
    background-size: cover;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 300px;
    border: 3px solid rgb(0, 0, 0);

  }
  .card-content{
    font-size: x-large;
    color: black;
    text-align: center;
}
  .btn-1:hover{
    color: white;
    background-image: url(/img/prep1.png);
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor:pointer;  
    border: 3px solid rgb(0, 0, 0);
    border-radius: 4px;
    color: white;
  
  }  
  .btn-2:hover{
    color: white;
    background-image: url(/img/evac.png);
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor:pointer;  
    border: 3px solid rgb(0, 0, 0);
    border-radius: 4px;
    color: white;
  

  }
.evach2 {
      margin-left: 40%;
}
.evach2 h2{
    margin-left: 0%;
}

#projects{
    height: 90vh;
    background-color: black;
    color: white;
  }
  #projects h4 {
    font-family: 'Caveat', cursive;
  }
  #projects h2 { 
    font-family: 'Caveat', cursive;
    text-align: center;
    padding: 30px;
  }
  .container {
    min-height: 65vh;
  
  }
  .btn-3 {
    height: 140px;
    width: 260px;
    padding: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTu57jrgHu78zUS8MT4DetdpugbwThsZAPz70YbY0Ftikuag4rKjPpaT0BkzB_9PEEbKk&usqp=CAU");
    filter: blur(1px);
    background-size: cover;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    
  }
  .btn-3:hover{
      cursor: pointer;
      filter: blur(0px);
      padding: 55px;
  }
  .btn-3 h3{
    color: rgb(255, 255, 255);
  }
  .btn-3 p{
    font-size: 0.5rem;
  }
  
  .btn-4 {
    height: 140px;
    width: 260px;
    padding: 20px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpWw_1lUr3UljaGsldcjSNdHDSAI7X3QL0fUKAh9iQlUFzLYvT6BjPBbqrKoz1pVZC9os&usqp=CAU");
    filter: blur(1px);
    background-size: cover;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .btn-4:hover{
    cursor: pointer;
    filter: blur(0px);
    padding: 55px;
}
  .btn-4 h3{
   color: rgb(255, 255, 255);
  }
  .btn-4 p{
    font-size: 0.5rem;
  }
  
  .btn-5 {
    height: 140px;
    width: 260px;
    padding: 20px;
    background-image: url("https://static.toiimg.com/photo/msid-76232723/76232723.jpg?1218919");
    filter: blur(1px);
    background-size: cover;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
  }
    .btn-5:hover{
    cursor: pointer;
    filter: blur(0px);
    padding: 55px;
}
  .btn-5 h3{
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .btn-5 p{
    font-size: 0.5rem;
  }
.emerg{
    height: 60vh;
    background-image: black;
}

/*#map {
  height: 400px;
  /* The height is 400 pixels */
  /*width: 100%;
  /* The width is the width of the web page */
/*}*/

#contact {
  height: 60vh;
  background-color: black;
  color: white;
  text-align: center;
}

.local {
  padding: 5px 5px 5px 5px;
  height: 50px;
  width: 220px;
  margin-left: 25%;
  margin-top: 70px;
  background-image: -webkit-linear-gradient(87deg, #1b4921, #351414);
  color: white;
  border-radius: 8px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
}
.local:hover {
  height: 240px;
  cursor: pointer;
}